<!DOCTYPE html>
<html>
<head>
    <title>Prime Numbers</title>
</head>
<body>
    <h1>Prime Numbers</h1>
    <form method="post" action="{{url_for('primes')}}">
        <label for="number">Enter a number:</label>
        <input type="number" id="number" name="number" required>
        <input type="submit" value="Submit">
    </form>
    <ul>
      {% for prime in primes %}
        <li>{{ prime }}</li>
      {% endfor %}
    </ul>
</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
    <title>Prime Numbers</title>
    <script>
        function findPrimes() {
            var input = document.getElementById("number").value;
            var n = parseInt(input);
            var primes = [];
            for (var u = 2; u <= n; u++) {
                var isPrime = true;
                for (var i = 2; i < u; i++) {
                    if (u % i == 0) {
                        isPrime = false;
                        break;
                    }
                }
                if (isPrime) {
                    primes.push(u);
                }
            }
            document.getElementById("output").innerHTML = primes;
        }
    </script>
</head>
<body>
    <h1>Prime Numbers</h1>
    <form>
        <label for="number">Enter a number:</label>
        <input type="number" id="number" name="number" required>
        <input type="button" value="Submit" onclick="findPrimes()">
    </form>
    <div id="output"></div>
</body>
</html> -->
